nav .headerList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding:10px 20px;

    
}
nav .headerList li {
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;

    
}
nav .headerList li:hover {
    background-color: rgb(223, 223, 223);
    
    
    
}
nav .headerList li:first-of-type {
    font-size: 20px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    
    
}
