.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 100%;
        
    
 }
 .text{
    margin-top:10px
 }
 .grid-item{
    text-align: center;
 }
.image-grid-img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
.grid-item-text{
    padding: 100px;
    font-size: 20px;
}