nav.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    z-index: 200;
    background-color: white;
    color: black;



   

}
nav.sidebar ul{
   list-style: none;
   margin-top: 30px;



   

}

nav.sidebar ul li{
   padding: 10px;
   cursor: pointer;
   

}
nav.sidebar ul li:hover{
    background-color: var(--hover-background-color);
    
 }
 nav.sidebar button:hover{
    background-color: var(--hover-background-color);
    
 }

nav.sidebar button{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 20px;


    


}