.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    top: 0;
    left: 0;
    z-index: 100;


}
.blur-content{
    filter: blur(2px);
    transition: filter 0.3s ease-in-out;
}