.image-background{
    
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
    
}

.image-background::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    
}
.image-background .overlay{
    position: relative;
    z-index: 1;

}
.bottom-section Button{
    margin: 10px 10px;
}
.feature-items{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    list-style: none;
}
.feature-items li{
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}
.feature-items p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}
.feature-items h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    
}
.feature-items li:hover{
    background-color: rgb(223, 223, 223);
    color: black;
}




