body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: white;
  overflow-y:auto;
  

}
.container{
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
.section{
  scroll-snap-align: start;
  height: 100vh;
}
.shop-page{
  background-color: black;
  display: grid;
  place-items: center;
  padding: 100px;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --hover-background-color:rgb(242, 242, 242);
}
