.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis:calc(100% / 4);
    box-shadow: 0 0 20px 0 rgba(211, 209, 209, 0.76);

    
}
.product:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.product-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-title{
    font-size: 18px;
    margin-bottom: 10px;
}

.product-description{
    font-size: 14px;
    margin-bottom: 10px;
}
.product-price{
    font-size: 18px;
    margin-bottom: 10px;
}
.product-button{
    border: 1px solid #ccc;
    background:none;
    cursor: pointer;
    color: #ccc;
    font-size: 15px;
    padding: 15px 15px;
}
.product-button:hover{
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
}
